.keno-bet-options {
  padding: var(--small-padding);
}

.autoplay-btn,
.clear-btn {
  flex: 1;
  cursor: pointer;
  padding: 3rem 0;
}

.input-wrap {
  width: 100%;
  display: flex;
  height: 44px;
  margin-bottom: 1rem;
}

.stake-container {
  color: #fff;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.input-wrapper {
  background-color: var(--stake-selector-input-bgcolor);
  height: 100%;
  flex: 1;
}

.input-wrapper input {
  background: transparent;
  height: 100%;
  font-size: 1.2rem;
  color: #fff;
}

.bet-btn {
  background-color: #298f68;
  border-radius: 0.25rem;
  padding: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.stake-btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.stake-btn svg {
  color: var(--btn-green-bgcolor);
  width: 30px;
  height: 30px;
  fill: var(--btn-green-bgcolor);
}

@media (max-width: 641px) {
  .input-wrapper {
    border: 1px solid #4a4661;
    flex: 1;
    text-align: center;
    background-color: transparent;
  }
}
