.keno-bottom-actions-container {
  background-color: var(--bottom-bg-color);
  padding: 10px;
  border-radius: var(--small-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.keno-bottom-actions-container > * {
  flex: 1;
}

.keno-autopick {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 1px solid #455668;
  border-right: 1px solid #455668;
}

.keno-autopick-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.keno-autopick-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.keno-autopick-number {
  color: #fff;
  font-size: 1.8rem;
  width: 2rem;
  text-align: center;
}

.keno-autopick-btn svg {
  width: 40px;
  height: 40px;
  fill: var(--btn-green-bgcolor);
  color: var(--btn-green-bgcolor);
}

.keno-autopick-btn.keno-autopick-next svg {
  transform: rotate(-90deg);
}

.keno-autopick-btn.keno-autopick-prev svg {
  transform: rotate(90deg);
}

.keno-autopick-label {
  color: var(--keno-autopick-label);
  font-size: 0.8rem;
  margin: 0;
}

.cancel-selection-btn,
.random-selection-btn {
  cursor: pointer;
  background: transparent;
  color: var(--btn-red-bgcolor);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.random-selection-btn {
  color: var(--btn-green-bgcolor);
  flex-direction: row-reverse;
}

.cancel-selection-btn svg,
.random-selection-btn svg {
  width: 30px;
  height: 30px;
  color: var(--btn-red-bgcolor);
}

.random-selection-btn svg {
  color: var(--btn-green-bgcolor);
}
