.draw-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--keno-number-bgcolor);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.draw-container canvas:first-child {
  border: none;
  max-height: 80%;
}

#lottery-picked {
  margin-top: 1rem;
}

.draw-status {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--tails-color);
  display: flex;
  padding: 0.25rem;
}

@media screen and (max-width: 600px) {
  #lottery-picked {
    margin-top: 0;
  }

  .draw-container canvas:first-child {
    max-height: 65%;
  }
}
