.draw-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--keno-number-bgcolor);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.draw-container canvas:first-child {
  border: none;
  max-height: 80%;
}

#lottery-picked {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  #lottery-picked {
    margin-top: 0;
  }

  .draw-container canvas:first-child {
    max-height: 70%;
  }
}
