.history-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.history-tab-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.history-tab-container:nth-child(odd) {
  background: rgba(22, 55, 60, 0.4);
}

.history-tab-details-container {
  display: flex;
  justify-content: space-between;
}

.history-tab-details {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  color: #fff;
}

.repeat-bet-btn {
  background-color: var(--btn-green-bgcolor);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.repeat-bet-btn svg {
  width: 25px;
  height: 25px;
  color: #fff;
}

.history-tab-tickets {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.ticket {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: #fff;
}

.ticket-numbers {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.BetTicketBall {
  display: flex;
  align-items: center;
  justify-items: center;
}

.BetTicketBall span {
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
}

.BetTicketBall.selected {
  background-color: transparent;
}

.BetTicketBall.selected span {
  background-color: var(--btn-green-bgcolor);
}

.BetTicketCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.HistoryTicketIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: none;
}

.HistoryTicketIcon svg {
  color: var(--btn-green-bgcolor);
  width: 30px;
  height: 30px;
}

.history-ticket-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (max-width: 768px) {
  .history-tab-details,
  .history-tab-tickets {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
