.loading-screen__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-logo__wrapper h1 {
  color: #fff;
}

.loading-logo__wrapper sup {
  font-size: 0.7rem;
  color: var(--light-color);
}

.loader {
  --loader-size: calc(var(--block-size) / 2);
  --loader-size-half: calc(var(--loader-size) / 2);
  --loader-size-half-neg: calc(var(--loader-size-half) * -1);
  --light-color: rgba(255, 255, 255, 0.3);
  --dot-size: 5px;
  --dot-size-half: calc(var(--dot-size) / 2);
  --dot-size-half-neg: calc(var(--dot-size-half) * -1);

  display: block;
  position: relative;
  width: var(--loader-size);
  display: grid;
  place-items: center;
  color: white;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
}

/**
	loader--3
**/
.loader--3 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 1.2s;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  animation: loader-3 calc(var(--anim-duration) * 3) linear infinite;
}

.loader--3::before,
.loader--3::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: var(--dot-size-half-neg);
  left: calc(50% - var(--dot-size-half));
  animation: loader-3 var(--anim-duration) cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
  transform-origin: center calc(var(--loader-size-half) + var(--dot-size-half) - 1px);
}

.loader--3::after {
  animation-delay: calc(var(--anim-duration) / 3 * -1);
}

@keyframes loader-3 {
  100% {
    transform: rotate(1turn);
  }
}
