.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  height: var(--top-global-height);
}

.menu-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  z-index: 10;
}

.menu-btn svg {
  color: #fff;
  fill: #fff;
  display: block;
  width: 20px;
  height: 20px;
}

.logo-text {
  padding: 0;
  margin: 0;
  color: var(--logo-text-color);
  font-size: 1.4rem;
}
.logo-text sup {
  font-size: 0.6rem;
}
