.keno-main-container {
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  height: 80%;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.keno-paytable {
  height: 100%;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0;
}

.keno-paytable-numbers-container {
  gap: 0.25rem;
  grid-template-columns: repeat(10, auto);
  flex: 1;
  display: grid;
  position: relative;
}

.keno-number {
  cursor: pointer;
  background-color: var(--keno-number-bgcolor);
  border-radius: var(--base-border-radius);
  color: var(--keno-number-color);
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--keno-number-bgcolor);
  transform: all 0.25ms;
  padding: 0;
}

.keno-number span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--full-radius);
  padding: 0.5rem;
  font-size: var(--keno-number-font-size);
  border: var(--keno-number-border);
  width: 100%;
  height: 100%;
}

.keno-number.hot span {
  border: 1px solid var(--hot-number-color);
}
.keno-number.cold span {
  border: 1px solid var(--cold-number-color);
}

.keno-number:hover {
  background-color: var(--keno-number-bgcolor-hover);
  border: 2px solid var(--keno-number-bgcolor-hover);
}

.keno-number.selected {
  border: 2px solid var(--keno-number-selected-bgcolor);
  background-color: transparent !important;
}

.keno-number.selected span {
  border: 2px solid var(--keno-number-selected-bgcolor);
  box-shadow: 0 0 5px 6px var(--keno-number-selected-bgcolor-opacity);
  background-color: var(--keno-number-selected-bgcolor);
  text-shadow:
    1px 1px 10px #fff,
    1px 1px 10px #ccc;
}

@media (max-width: 950px) {
  .keno-paytable {
    width: 100%;
    padding: var(--small-radius);
  }
  .keno-main-container {
    padding-bottom: 0;
  }
  .keno-number {
    background-color: transparent;
    border: none;
    width: 23px;
    height: 23px;
  }
  .keno-number:hover {
    border: none;
    background: none;
  }
  .keno-number.selected {
    border: none;
  }
  .keno-number span {
    font-size: 0.8rem;
  }
  .keno-paytable-numbers-container {
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
  }
}
