.paytable-container {
  overflow-y: auto;
  background-color: var(--paytable-bg-color);
  padding: 0.5rem;
  color: rgb(177, 186, 211);
  display: flex;
  gap: 0.5rem;
  height: 50px;
}

.paytable-container .paytable-headers {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: #fff;
  font-size: 0.6rem;
  position: relative;
  padding-right: 1rem;
}

.paytable-container .paytable-headers::after {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  content: '';
  height: 50%;
  position: absolute;
  right: 0;
  top: 25%;
  width: 1px;
  z-index: 1;
}

.paytable-container .paytable-values {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.paytable-prize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.6rem;
}

.paytable-prize-value {
  overflow: hidden;
  white-space: nowrap;
}
