.keno-statistics-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.keno-statistics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.keno-statistics-header-item {
  font-weight: bold;
  color: #fff;
}

.keno-statistics-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.keno-statistics-row {
  align-items: center;
  color: #000;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.keno-statistics-ball {
  align-items: center;
  background: var(--btn-green-bgcolor);
  border-radius: 100%;
  color: #fff;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  height: 34px;
  justify-content: center;
  margin: 0.25em;
  text-align: center;
  text-transform: uppercase;
  width: 34px;
}

.keno-statistics-percentage,
.keno-statistics-line-container {
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: flex-start;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.keno-statistics-line-container {
  flex: 1 1;
}

.keno-statistics-line {
  background: linear-gradient(270deg, #5a9c3b, #ffba53);
  border-radius: 5px;
  height: 1rem;
}

.statistics-sort-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: rotate 0.25ms;
  transform-origin: center;
}

.statistics-sort-btn svg {
  transition: all 0.5s;
  width: 20px;
  height: 25px;
}

.statistics-sort-btn.active svg {
  rotate: 180deg;
}
