.keno-statistics-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.keno-statistics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.keno-statistics-header-item {
  font-weight: bold;
}

.keno-statistics-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.keno-statistics-row {
  align-items: center;
  color: #000;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.keno-statistics-ball {
  align-items: center;
  background: #ff0000;
  border-radius: 100%;
  color: #fff;
  display: inline-flex;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  justify-content: center;
  margin: 0.25em;
  text-align: center;
  text-transform: uppercase;
  width: 34px;
}

.keno-statistics-percentage,
.keno-statistics-line-container {
  align-items: center;
  color: #2b2b2b;
  display: inline-flex;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  justify-content: flex-start;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.keno-statistics-line-container {
  flex: 1 1;
}

.keno-statistics-line {
  background: linear-gradient(270deg, #5a9c3b, #ffba53);
  border-radius: 5px;
  height: 10px;
}
