.tab-menu-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--tabs-border-color);
}

.tab-menu-btn {
  color: var(--tab-btn-textcolor);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.25rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.25rem 0;
  border-bottom: 3px solid transparent;
  margin-right: 1rem;
}

.tab-menu-btn.active {
  border-bottom: 3px solid var(--tabs-border-color);
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  overflow: hidden;
}

.tabs-content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

/** RESULTS */
.results-items-container {
  position: absolute;
  width: 100%;
}
.keno-results-item {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  background-color: rgba(22, 55, 60, 0.4);
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  width: 100%;
}

.keno-results-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.keno-results-item-numbers {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 0.25rem;
}

.keno-results-item-numbers span {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 /1;
  transition: all 100ms ease-in;
}

.keno-results-item-numbers span.match {
  color: #fff;
  background-color: var(--tails-color);
}

.HistoryNewBetsContainer {
  overflow-y: scroll;
  flex: 1;
  height: 100%;
}

.BetTicket {
  background: rgba(22, 55, 60, 0.8);
  border-left: 2px solid #fbc94a;
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em;
  position: relative;
}

.BetTicketHeaderContainer {
  display: flex;
  gap: 3px;
}

.BetTicketHotType {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: -0.25em;
}

.BetTicketHotType.T {
  background-color: var(--tails-color);
}

.BetTicketHotType.H {
  background-color: var(--heads-color);
}

.BetTicketHotType.E {
  background-color: var(--evens-color);
}

.BetTicketHeaderType {
  background-color: #fbc94a;
  padding: 0.25rem;
  color: #fff;
  width: fit-content;
  margin-left: -0.5em;
  margin-top: -0.25em;
}

.BetTicketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0.25rem 0;
  font-size: 0.8rem;
}

.keno-bets-table-mobile {
  width: 100%;
  border-collapse: collapse;
  color: #a795af;
}

.keno-bets-table-mobile thead {
  display: flex;
  width: 100%;
}

.keno-bets-table-mobile tbody {
  overflow-y: scroll;
  height: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.keno-bets-table-mobile tbody tr {
  margin-bottom: 1px;
  width: 100%;
  display: flex;
}
.keno-bets-table-mobile td {
  padding: var(--md-padding);
  background-color: rgba(74, 50, 75, 0.6);
  flex: 1;
}
.keno-bets-table-mobile thead tr {
  display: flex;
  width: 100%;
}

.keno-bets-table-mobile thead th {
  flex: 1;
}

.keno-bets-table-mobile tbody tr.CLASSIC {
  border-left: 2px solid var(--keno-type-classic-color);
}

.keno-bets-table-mobile tbody tr.JACKPOT {
  border-left: 2px solid var(--keno-type-jackpot-color);
}

.keno-bets-table-mobile tbody tr.BONUS {
  border-left: 2px solid var(--keno-type-bonus-color);
}

.keno-bets-table-mobile tbody tr.HEADSORTAILS {
  border-left: 2px solid var(--keno-type-hot-color);
}

.match-column {
  display: flex;
  align-items: center;
}

.keno-bet-matches {
  display: inline-flex;
  padding: 0.2rem;
  height: 25px;
  text-align: center;
  color: #fff;
  margin-right: 0.2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.keno-bets-table-mobile tbody tr.CLASSIC .keno-bet-matches {
  background-color: var(--keno-type-classic-color);
}

.keno-bets-table-mobile tbody tr.JACKPOT .keno-bet-matches {
  background-color: var(--keno-type-jackpot-color);
}

.keno-bets-table-mobile tbody tr.BONUS .keno-bet-matches {
  background-color: var(--keno-type-bonus-color);
}

.keno-bets-table-mobile tbody tr.HEADSORTAILS .keno-bet-matches {
  background-color: var(--keno-type-hot-color);
}

@media (max-width: 641px) {
  .tab-menu-btn {
    color: var(--tab-btn-mobile-textcolor);
  }
  .tab-menu-container {
    padding-top: var(--small-padding);
    padding-left: var(--small-padding);
    padding-right: var(--small-padding);
    border-bottom: 2px solid var(--tabs-border-mobile-color);
  }
  .tab-menu-btn.active {
    border-bottom: 3px solid var(--tabs-border-mobile-color);
    color: #fff;
  }

  .keno-results-item {
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
    padding: 0.5rem;
  }
}
