.trends-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.trends-title {
  color: #fff;
}

.trends-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.trends-ball {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  min-width: 30px;
  padding: 0 0.5rem;
}

.trends-ball.evens {
  background-color: var(--evens-color);
}

.trends-ball.tails {
  background-color: var(--tails-color);
}

.trends-ball.heads {
  background-color: var(--heads-color);
}
