@import './variables.css';
@import './components/modal.css';
@import './components/paytable.css';
@import './components/settings.css';
@import './components/history.css';
@import './components/loading.css';
@import './components/statistics.css';
@import './components/leaders.css';
@import './components/top.css';
@import './components/numbers.css';
@import './components/bet.css';
@import './components/logo.css';
@import './components/bottom.css';
@import './components/timer.css';
@import './components/header.css';
@import './components/tabs.css';
@import './components/draw.css';
@import './components/hot.css';
@import './components/trends.css';
@import './components/transitions.css';

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
body {
  height: 100vh;
  width: 100%;
  background: var(--base-bg-color);
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.keno-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.keno-left-container {
  width: 25%;
  gap: 1.5rem;
  flex-direction: column;
  display: flex;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  background-color: var(--left-container-bgcolor);
  padding: 0 1rem;
  min-width: 240px;
}

.keno-right-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  height: 100%;
}

.draws-history {
  flex: 1;
}

.draw-info {
  padding: 0.75rem;
  border: 1px solid #ccc;
}

.keno-play-actions {
  width: 30%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  height: 100%;
  padding-right: 1rem;
  overflow: hidden;
}

.keno-tickets-container {
  border: 1px solid #ccc;
}

.selected {
  background-color: #cc0000;
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stake-value {
  flex: 1;
  text-align: center;
}

.d-flex {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 961px) {
  body,
  html {
    font-size: 14px;
  }
}

@media (max-width: 641px) {
  .keno-right-container {
    width: 100%;
    padding: var(--md-padding);
  }
}

@media (max-width: 950px) {
  .keno-right-container {
    margin: 0 auto;
    gap: 0;
    width: 100%;
    max-width: 600px;
  }
  .keno-paytable {
    padding: 0;
  }
  .keno-main-container {
    justify-content: center;
  }
}

#app {
  transform: all;
  width: 100%;
  height: 100%;
}

#app.resize {
  filter: blur(5px);
  background: #000;
}

.keno-playtable-container {
  position: relative;
  display: flex;
}

@media (max-width: 950px) {
  .keno-playtable-container {
    flex-direction: row;
    gap: 0.5rem;
    height: 40%;
  }
  .keno-bottom-actions-container {
    flex-direction: column;
    max-width: 70px;
  }
  .keno-autopick {
    border: none;
    border-top: 1px solid #455668;
    border-bottom: 1px solid #455668;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  .timer-wrapper {
    height: 10%;
  }
  .mobile-actions-container {
    height: 50%;
    margin: 0 !important;
  }
  .keno-autopick-label {
    display: none;
  }
  .keno-autopick-wrapper {
    flex-direction: column;
  }
  .keno-autopick-btn.keno-autopick-prev svg {
    transform: rotate(180deg);
  }
  .keno-autopick-btn.keno-autopick-next svg {
    transform: rotate(0deg);
  }
}

@media (max-width: 641px) {
  .keno-bottom-actions-container {
    max-width: 40px;
  }
  .keno-autopick {
    border: none;
  }
}

.slide-wrapper {
  flex: 1;
}
