@import './variables.css';
@import './components/modal.css';
@import './components/paytable.css';
@import './components/settings.css';
@import './components/history.css';
@import './components/loading.css';
@import './components/statistics.css';
@import './components/leaders.css';
@import './components/top.css';
@import './components/numbers.css';
@import './components/bet.css';
@import './components/logo.css';
@import './components/bottom.css';
@import './components/timer.css';
@import './components/header.css';
@import './components/tabs.css';
@import './components/draw.css';

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
body {
  height: 100vh;
  width: 100%;
  background: var(--base-bg-color);
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.keno-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.keno-left-container {
  width: 25%;
  gap: 1.5rem;
  flex-direction: column;
  display: flex;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  background-color: var(--left-container-bgcolor);
  padding: 0 1rem;
}

.keno-right-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  height: 100%;
}

.draws-history {
  flex: 1;
}

.draw-info {
  padding: 0.75rem;
  border: 1px solid #ccc;
}

.keno-play-actions {
  width: 30%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  height: 100%;
  padding-right: 1rem;
  overflow: hidden;
}

.keno-tickets-container {
  border: 1px solid #ccc;
}

.selected {
  background-color: #cc0000;
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stake-value {
  flex: 1;
  text-align: center;
}

.d-flex {
  display: flex;
  gap: 0.5rem;
}
